.transparent {
   -fx-background: #2a2d34;
   -fx-border-color: #2a2d34;
}

.blackGround{
  -fx-background: black;
   -fx-border-color: black;
}

/*.scroll-pane > .viewport {
   -fx-background-color: transparent;
}*/

.buttonMenu:hover{
    -fx-background-color: white;
    -fx-color: black;
    -fx-text-fill: black;
}

.buttonMenu{
     -fx-background-radius: 20;
     -fx-alignment: center;
}

.buttonSelected{
        -fx-background-color: white;
        -fx-text-fill: black;

}

.buttonUnselected{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.genreLabel:hover{
    -fx-underline: true;
}

.selectedGenre{
     -fx-underline: true;
}

.cardMovie:hover{
    -fx-border-color: white;

}

.cardMovie{
    -fx-border-color: transparent;

}
}
.textCard{
    -fx-fill: white;
}

.cardInfo{
    -fx-opacity: 0;
}

.cardInfo:hover{
    -fx-opacity: 1;
}

.loginButton{
    -fx-background-color: #2a2d34;
    -fx-text-fill: white;
}

.loginButton:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.check-box > .box {
    -fx-padding: 3px;
}

.check-box > .box > .mark {
    -fx-padding: 3px;
}

.menu-button{
    -fx-padding:0;
    -fx-background-color: black ;
}

.menu-button > .arrow-button {
    -fx-fill: white;
}

.menu-button > .arrow-button > .arrow {
    -fx-background-color: white;
}

.menu-button .label{
-fx-padding: 0;
-fx-margin: 1;
}

.menu-item .label{
    -fx-text-fill: white;
}

.context-menu {
    -fx-pref-width: 120px;
    -fx-translate-x: -25px;
    -fx-background-color: #2a2d34;
    -fx-text-fill: white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.buttonPage{
    -fx-background-color: #2a2d34;
    -fx-text-fill: white;
    -fx-underline: true;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}